*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
    list-style-type: none;
}
h2 , h3 , h4 , h6 , p{
    text-align: center;
}
p{
    max-width: 500px;
    margin: auto;
    line-height: 1.7;
}
/* COMIENZO DEL HEADER */
.contenedor__header{
    background-image: url(./Media/concepto_papa08.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
    position: relative;
}
.header__index-video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url(./Media/concepto_papa08.png) no-repeat;
    background-position: center;
    background-size: cover;
    content: hidden;
}
/* FIN DEL HEADER */
/* COMIENZO DEL NAV */
.menu-var{
    background-color: white;
    height: 80px;
    margin: 30px;
    border-radius: 16px;
    box-shadow: 0 0 6px 3px rgba(16, 14, 1, 0.682);
    padding: .5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.nav-logo{
    font-size: 1.5rem;
    font-weight: 900;
    color: #00047f;
    transition: 0.6s color;
}
.nav-bar-menu:focus, .btn-cerrar{
    box-shadow: none;
    outline: none;
}
.link-nav{
    color: #666777;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
}
.link-nav:hover, .link-nav.active{
    color: #000;
}
.link-nav::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #000599;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.link-nav:hover::before, .link-nav.active::before{
    width: 100%;
    visibility: visible;
}
/* FIN DEL NAV */
.contenedor__cards_home{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.567);
}
.contenedor__cards_home h3{
    text-align: start;
}
.contenedor__cards_home h1{
    font-size: 4rem;
}
@media screen and (min-width: 1024px)  {
    .contenedor__cards_home-text{
        width: 60%;
    }
}
/* FIN DEL HEADER */
/* COMIENZO DEL MAIN INDEX */
/* CARRUSEL DEL INDEX */

.container__home__presentacion{
    width: 100%;
    margin: 0 auto;
}
.home__presentacion_texto{
    backdrop-filter: blur(6px);
    padding: 1rem;
    background-color: #e7e7e79b;
    border-radius: 2rem;
    font-size: 1rem;
}
.home__presentacion_texto h2{
    font-weight: bold;

}
/* FIN DE CARRUSEL INDEX */
/* COMIENZO DE ACORDERON DE INDEX */
.contenedor__home__elegirnos{
    font-weight: bold;
    backdrop-filter: blur(6px);
    padding: 1rem;
    background-color: #f3f4f554;
}
.contenedor__acordeon{
    max-width: 800px;
    margin: 5px auto;
}
.acordeon_item p{
    background-color: #ffffff8c;
    backdrop-filter: blur(4px);
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: large;
}
.contenedor__acordeon__background__video{
    width: 100%;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.878) 0px 30px 30px -20px;
}
.video__background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}
.contenedor__acordeon{
    box-shadow: rgba(0, 0, 0, 0.878) 0px 30px 30px -20px;
    border-radius: 2rem;
}
.contenedor__acordeon__primer--item_background{
    background-image: url(./Media/concepto_papa07.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.contenedor__acordeon__segundo--item_background{
    background-image: url(./Media/concepto_papa08.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.contenedor__acordeon__tercer--item_background{
    background-image: url(./Media/banco-itau-01.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.contenedor__acordeon__quinto--item_background{
    background-image: url(./Media/cencosud-02.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.contenedor__acordeon__cuarto--item_background{
    background-image: url(./Media/Banco-itau-02.jpeg);
    background-size: cover;
    background-position: center;
}
.contenedor__acordeon__cuarto--item_background p{
    text-align: left;
    margin-left: 3rem;
    background-color: #ffffff3d;
    font-weight: 500;
    font-size: large;
}
/*  FIN DE ACORDEON */
/* COMIENZO DE SECCION COTIZAR Y FORMULARIO */
.container__cotizar{
    background-color: rgb(255, 136, 0);
    box-shadow: rgba(0, 0, 0, 0.878) 0px 30px 30px -20px;
}
.contenedor__cotizar__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}

.contenedor__formulario_index{
    color: #333;
    border-radius: 2rem;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    background: #d0d6ee;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
}
.imput_form{
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}
.imput_form:focus{
    outline: none;
    border-inline: 2px solid #12B1D1;
    border-radius: 2rem;
    transition: 0.3s ease-in-out;
}
.boton_form{
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(249, 141, 0) 0%, rgb(203, 138, 108) 100%);
    color: white;
    border-radius: 2rem;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    transition: all 0.3s ease-in-out;
}
.boton_form:hover{
    background-color: #0e1283;
    color: white;
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
    background: linear-gradient(45deg, rgb(58, 64, 177) 0%, rgb(56, 209, 222) 100%);
    transition: all 0.3s ease-in-out;
}
/* FIN DE  SECCION COTIZAR Y FORMULARIO */
/* COMIENZO DE UBICACIÓN INDEX */
.contenedor__ubicacion{
    width: 100%;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
    
}
.contenedor__video_ubicacion{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url(./Media/mapa_chile.png) no-repeat;
    background-size: cover;
}
.contenedor__direccion_index--texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    background-color: rgba(3, 1, 1, 0.523);
    backdrop-filter: blur(8px);
    border-radius: 2rem;
}
.contenedor__direccion_index--texto p{
    font-size: 1.5rem;
    color: white;
}
.contenedor__direccion_index--mapa{
    width:  420px;
    height: 400px;
    margin: 1rem auto 1rem auto;
    border-radius: 2rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.878) 0px 30px 30px -20px;
}
.contenedor__direccion_index--mapa:hover{
    transform: scale(1.03);
    transition: 0.3s;
}
@media screen and (max-width:480px){
    .contenedor__direccion_index--mapa{
        width: 335px;
        margin: 0 auto;
    }
}
@media screen and (max-width:380px){
    .contenedor__direccion_index--mapa{
        width: 280px;
    }
}
/* FIN DE UBICACION INDEX */
/* FIN DEL MAIN INDEX */
/* COMIENZO DEL FOOTER */
footer{
    background-image: url(./Media/concepto_papa11.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
footer li a img{
    width: 40px;
}
footer h4{
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    text-transform: capitalize;
    backdrop-filter: blur(5px);
    color: #ffffff;
    background-color: rgba(1, 0, 0, 0.143);
    padding: 1rem;
}
.contenedor__footer--left , .contenedor__footer--right{
    width: 40%;
    max-width: 250px;
    height: 310px;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 2rem;
    background: rgba(250, 250, 250, 0.196);
    backdrop-filter: blur(8px);
    text-align: start;
}
@media screen and (max-width: 670px){
    .contenedor__footer--left , .contenedor__footer--right{
        width: 80%;
        height: auto;
    }
}
.contenedor__footer--left ul li{
    margin: 0px 5px 10px 15px;
}
.contenedor__footer--left ul a , .contenedor__footer--right ul a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.contenedor__footer--right ul img{
    margin: 0.7rem 1rem;
}
/* FIN DEL FOOTER */
/* COMIENZO NOSOTROS / MAIN */
/* COMIENZO QUIENES SOMOS */
.contenedor_main__nosotros{
    background-color: rgb(255, 136, 0);
}
.contenedor__nosotros{
    position: relative;
    display: grid; 
    justify-items: center;
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.2fr 0.6fr 2fr 0.6fr 2fr 0.6fr 0.2fr; 
    grid-template-rows: 0.1fr 0.5fr 1.2fr  0.1fr 0.1fr; 
    gap: 30px 30px; 
    grid-template-areas: 
      ". . . . . . ."
      ". . content_nosotros__center content_nosotros__center content_nosotros__center . ."
      ". content_nosotros__left content_nosotros__left . content_nosotros__right content_nosotros__right ."
      ". content_nosotros__left content_nosotros__left . content_nosotros__right content_nosotros__right ."
      ". . . . . . ."; 
}
.content_nosotros__center {
    grid-area: content_nosotros__center; 
}
.content_nosotros__left {
    grid-area: content_nosotros__left; 
}
.content_nosotros__right {
    grid-area: content_nosotros__right;
}
.contenedor__nosotros div{
    padding: 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    backdrop-filter: blur(3px);
    background-color: #ffffff58;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
.contenedor__nosotros div p{
    text-align: justify;
}
.content_nosotros__center{
    font-size: 1.2rem;
}
.contenedor__nosotros div img{
    display: block;
    margin: 0 auto;
    max-width: 300px;
    border-radius: 1rem;
}
.video__background__nosotros{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
.contenedor__texto_nosotros{
    padding: 1rem;
    border-radius: 2rem;
    backdrop-filter: blur(3px);
    background-color: white;
    color: #0e1283;
    font-weight: bold;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
    font-size: 2rem;
}
@media screen and (max-width:990px) {
    .contenedor__nosotros p{
        font-size: 1rem;
    }
    .contenedor__nosotros{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 30px 30px; 
        grid-template-areas: 
        ". content_nosotros__center content_nosotros__center ."
        "content_nosotros__left content_nosotros__left content_nosotros__right content_nosotros__right""
        "content_nosotros__left content_nosotros__left content_nosotros__right content_nosotros__right""; 
    }
    .content_nosotros__left { grid-area: content_nosotros__left; }
    .content_nosotros__right { grid-area: content_nosotros__right; }
    .content_nosotros__center { grid-area: content_nosotros__center; }
}
@media screen and (max-width:770px){
    .contenedor__nosotros{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 0.5fr 0.8fr 0.8fr; 
        gap: 20px 20px; 
        grid-template-areas: 
        ". content_nosotros__center content_nosotros__center ."
        "content_nosotros__left content_nosotros__left content_nosotros__right content_nosotros__right"
        "content_nosotros__left content_nosotros__left content_nosotros__right content_nosotros__right"
        ". . . ."; 
    }
    .content_nosotros__left { grid-area: content_nosotros__left; }
    .content_nosotros__center { grid-area: content_nosotros__center; }
    .content_nosotros__right { grid-area: content_nosotros__right; }
    .contenedor__nosotros div img{
        max-width: 290px;
        border-radius: 2rem;
    }
    .contenedor__nosotros div{
        width: 300px;
        padding: 0.2rem;
    }
    .contenedor__nosotros div p{
        font-size: 0.7rem;
        text-align: center;
    } 
}
@media screen and (max-width: 700px) {
    .contenedor__nosotros{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 0.8fr 0.7fr 0.7fr 0.6fr; 
        grid-template-rows: 0.2fr 0.4fr 1fr 0.2fr; 
        gap: 30px 0px; 
        grid-template-areas: 
            ". . . ."
            ". content_nosotros__center content_nosotros__center ."
            "content_nosotros__left content_nosotros__left content_nosotros__right content_nosotros__right"
            ". . . ."; 
        }
        .content_nosotros__left { grid-area: content_nosotros__left; }
        .content_nosotros__right { grid-area: content_nosotros__right; }
        .content_nosotros__center { grid-area: content_nosotros__center; }

    .contenedor__nosotros div{
        padding: 0.3rem;
        border-radius: 2rem;
        backdrop-filter: blur(10px);
        width: 280px;
        max-width:  300px;
        background-color: rgb(238, 238, 242);
        box-shadow: 10px 10px 23px 0px rgba(3, 3, 4, 0.961);
    }
    .contenedor__nosotros div p{
        font-size: 0.8rem;
        text-align: center;
    } 
    .contenedor__nosotros div img{
        width: 200px;
    }

}
@media screen and (max-width:550px) {
    .contenedor__nosotros div{
        width: 250px
    }
}
@media screen and (max-width:490px){
    .contenedor__nosotros{
        display: grid; 
        justify-items: center;
        grid-auto-columns: 1fr; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 1.6fr; 
        grid-template-rows: 0.2fr 0.3fr 0.3fr 0.3fr; 
        gap: 20px 20px; 
        grid-template-areas: 
          "."
          "content_nosotros__center"
          "content_nosotros__left"
          "content_nosotros__right"; 
      }
      .content_nosotros__center { grid-area: content_nosotros__center; }
      .content_nosotros__right { grid-area: content_nosotros__right; }
      .content_nosotros__left { grid-area: content_nosotros__left; }

    .contenedor__nosotros div{
        max-width: 250px;
        min-width: 220px;
        border-radius: 1rem;

    }
    .contenedor__nosotros div p{
        font-size: 0.7rem;
    }
    .contenedor__nosotros div img{
        width: 210px;
    }
}
/* FIN QUIENES SOMOS */
/* COMIENZO DE SUCURSALES */
.contenedor__sucursales{
    background-image: url(./Media/chile_bosque_horizontal.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-items: center;
    
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.2fr 1.5fr 1.5fr 1.4fr 0.2fr; 
    grid-template-rows: 0.2fr 0.2fr 0.2fr 1.8fr 0.2fr; 
    gap: 0px 20px; 
    grid-template-areas: 
    ". . . . ."
    ". . h2 . ."
    ". . . . ."
    ". contenedor__sucursales-left contenedor__sucursales-center contenedor__sucursales-right ."
    ". . . . ."; 
}
.contenedor__sucursales h2{grid-area: h2;}
.contenedor__sucursales-left { grid-area: contenedor__sucursales-left; }
.contenedor__sucursales-center { grid-area: contenedor__sucursales-center; }
.contenedor__sucursales-right { grid-area: contenedor__sucursales-right; }

.contenedor__sucursales h2{
    font-size: 2.2rem;
    background-color: rgba(0, 0, 0, 0.209);
    padding: 0.5rem;
    border-radius: 2rem;
    backdrop-filter: blur(8px);
}
.contenedor__sucursales div{
    padding: 0.7rem;
    border-radius: 2rem;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.108);

    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
.contenedor__sucursales div img{
    max-width: 300px;
    border-radius: 2rem;
}
.contenedor__sucursales div img:hover{
    transform: scale(1.14);
    transition: all 0.3s ;
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
.contenedor__sucursales-center img{
    max-height: 350px;
    margin: 0 auto;
}
@media screen and (max-width:900px) {
 
    .contenedor__sucursales{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedor__sucursales-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor__sucursales-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor__sucursales-center img{
        max-height: 350px;
    }
}
@media screen and (max-width:770px){
    .contenedor__sucursales{
        background-image: url(./Media/chile_bosque_vertical.png);
    }
}
@media screen and (max-width:550px){
    .contenedor__sucursales div p{
        font-size: 0.7rem;
    }

}
/* FIN DE SUCURSALES */
/* FIN DE NOSOTROS / MAIN  */
/* COMIENZO DE SERVICIOS /MAIN */
/* COMIENZO SERVICIOS PRINCIPALES */
body{
    background: linear-gradient(90deg, rgb(166, 165, 229) 10%, #0e1283 100%);
}
.h2__servicios{
    width: 100%;
    font-weight: bolder;
    color: #f89b29;
    font-size: 2rem;
}
.contenedor__servicios-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding-top: 2rem;
    background: linear-gradient(90deg, rgb(166, 165, 229) 10%, #0e1283 100%);
}

/* FIN SERVICIOS PRINCIPALES */

/* FIN DE SERVICIOS /MAIN */
/* TARJETAS DE SERVICIOS */
.card-container {
    width: 210px;
    height: 350px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.card-container::before {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}
.card_servicios {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    overflow: hidden;
}
.card_servicios .img-content_servicios {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    content-visibility: hideen;
    justify-content: center;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    transition: scale 0.6s, rotate 0.6s, filter 1s;
}
.card_servicios .content_Servicios {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #090505;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.card_servicios .content_Servicios .heading {
    font-size: 32px;
    font-weight: 700;
}
.card_servicios:hover .content_Servicios {
    opacity: 1;
    transform: translateY(0);
}
.card_servicios:hover .img-content_servicios {
    scale: 2.5;
    rotate: 30deg;
    filter: blur(7px);
}

.card03 .content_Servicios {
    color:white;
}
@media screen and (min-width:350px){
    .card-container{
        width: 300px;
    }
}
@media screen and (min-width:650px){
    .card-container{
        width: 250px;
    }
    .contenedor__servicios-principal{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 2rem;
    }
}
/* TARJETAS / MAS SERVICIOS */
.card {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 300px;
    max-height: 330px;
    background-color:rgb(191, 188, 227);
    border-radius: 10px;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
      -4px -4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
  }
  
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1),
      4px -4px 12px rgba(0, 0, 0, 0.08);
}
.card-image-container {
    width: 100%;
    height: 64%;
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    background-color: rgb(165, 165, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-title {
    margin: 0;
    font-size: 17px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: rgb(11, 11, 64);
    cursor: pointer;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
.card-des {
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    margin: 0;
    font-size: 13px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: navy;
    font-weight: bold;
    cursor: default;
}

/* MAS SERVICIOS */
.h2_mas__servicios{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.contenedor__servicios-secundario{
    background-color: #f89b29;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}
.contenedor-card-mas_servicios{
    width: 100%;
    margin: 1rem;
}
.container-img-servicio06{
    background-image: url(./Media/concepto_papa07.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-right{
    margin-left: 50px;
}
.card-left{
    margin-right: 100px;
}
/* @media screen and (min-width:350px){
    .card-right{
        margin-left: 80px;
    }
   
}
@media screen and (min-width:400px){
    .card{
        width: 240px;
    }
    .card-right{
        margin-left: 120px;
    }
}

@media screen and (min-width:450px){
    .card{
        width: 270px;
    }
    .card-right{
        margin-left: 150px;
    }
}
@media screen and (min-width:500px){
    .card{
        width: 300px;
    }
    .card-right{
        margin-left: 160px;
    }
}
@media screen and (min-width:550px){
    .card{
        width: 350px;
    }
  
}
@media screen and (min-width:650px){
    .card-right{
        margin-left: 210px;
    }
    .card{
        width: 400px;
    }
}
@media screen and (max-width:750px){
    .text__mas-servicios{
        display: none;
    }
}

@media screen and (min-width:760px){
    .contenedor-card-mas_servicios{
        display: flex;
        justify-content: space-between;
    }
    .text__mas-servicios{
        display: flex;
        justify-content: center;
        font-size: 3rem;
        font-weight: bold;
        color: white;
    }
    .card-right{
        text-align:left;
    }
    .card-right{
        margin-left: 10px;
    }
    .card{
        width: 450px;
        margin-left: 30px;
    }
    .card__center{
        margin-left: 0px;
    }
}
@media screen and (min-width:1100px){
    .card{
        width: 600px;
        height: 400px;
        margin-left: 30px;
    }
    .contenedor-card-mas_servicios{
        display: flex;
        justify-content: space-evenly;
    }
} */
/* FIN DE SERVICIOS */
/* COMIENZO CLIENTES */

.contenedor__clientes_imgs h2{
    color: #f89b29;
    font-weight: bold;
    font-size: 2rem;
}
.contenedor__clientes_imgs p {
    color: white;
    backdrop-filter: blur(10px);
    text-align: center;
}
/* COMIENZO contenedor__clientes_imgs*/
.card_servicios_top::before {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    top: 20%;
}
.card_servicios_top::before,
.card_servicios_top::after {
    content: "";
    background-color: #7090fa4b;
    position: absolute;
    filter: blur(10px);
}
.card_servicios_tops {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card_servicios_tops .red,
.card_servicios_tops .blue,
.card_servicios_tops .green {
    width: 120px;
    height: 100px;
    font-family: "CustomFont", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 600;
    backdrop-filter: blur(30px);
    background-color: rgba(65, 65, 65, 0.11);
    border: 1px solid rgba(144, 161, 255, 0.171);
    background-size: cover;
    background-repeat: no-repeat;
}
.red{
    background-image: url(./Media/concepto_papa09.png);
}
.blue{
    background-image: url(./Media/cencosud-02.jpeg);
}
.green{
    background-image: url(./Media/banco-itau-01.jpeg);
}
.card_servicios_tops .card_servicios_top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 400ms;
}
.card_servicios_tops .card_servicios_top p .tip {
    font-size: 1em;
    font-weight: 700;
}
.card_servicios_tops .card_servicios_top p.second-text {
    font-size: 0.7em;
  }
  .card_servicios_tops .card_servicios_top:hover {
    transform: scale(1.1, 1.1);
  }
  .card_servicios_tops:hover > .card_servicios_top:not(:hover) {
    filter: blur(5px);
    transform: scale(0.9, 0.9);
  }
  /* FIN TARJETAS UI */
/* FINS DE CLIENTES */
/* INICIO DE CONTACTO */
.contendedor__contacto-up{
    display: flex;
    flex-direction: column;
}
.contendedor__contacto-up h2{
    width: 100%;
}
.contenedor_contacto__video{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.contenedor_contacto__video video{
    max-width: 800px;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.contenedor__contacto-up--text{
    background-color: rgba(255, 255, 255, 0.316);
    backdrop-filter: blur(10px);
    width: 220px;
    margin: 1rem auto;
    padding: 0.4rem;
    border-radius: 1rem;
    font-size: 0.6rem;
}
.contenedor__contacto-up--text h4{
    font-size: 0.8rem;
}
.contenedor__contacto-up--text h3{
    font-size: 1rem;
}
.contenedor__contacto-up--text p{
    text-align: justify;
}
.contenedor__contacto-up--text img{
    width: 100%;
    border-radius: 1rem;
}

/* FIN DE CONTACTO */