.contendedor__contacto-up{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    h1{
        width: 100%;
        color: $color-secondary;
        text-align: center;
        font-weight: 800;
    }
    .contenedor__contacto-up--text{
        background-color: rgba(255, 255, 255, 0.791);
        backdrop-filter: blur(30px);
        width: 220px;
        margin: 1rem auto;
        padding: 0.4rem;
        border-radius: 1rem;
        font-size: 0.6rem;
        @include box-shadow;
        h4{
            font-size: 0.8rem;
        }
        h2{
            font-size: 1rem;
        }
        p{
            text-align: justify;
        }
        img{
            width: 100%;
            border-radius: 1rem;
            margin-top: 5px;
        }
        a{
            text-decoration: none;
            &:hover{
                text-decoration:double;
            }
        }
    }
    .contenedor_contacto__video{
        @include flex-center;
        padding: 2rem;
        video{
            max-width: 800px;
            width: 80%;
            max-width: 800px;
            border-radius: 10px;
            @include box-shadow;
        }
    }
}