@mixin background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
@mixin box-shadow{
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}