.contenedor_main__nosotros{
    .contenedor__nosotros--up{
        padding-top: 8rem;
        padding-bottom: 1rem;
        .video__background__nosotros{
            @include background-video;
            top: 0;
        }
        .contenedor__texto_nosotros{
            padding: 1rem;
            border-radius: 2rem;
            backdrop-filter: blur(13px);
            background-color: white;
            color: $color-primary;
            font-weight: bold;
            @include box-shadow;
            font-size: 1.3rem;
            animation: flotar 3s infinite ease-in-out;
        }
        .contenedor__nosotros{
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            .content_nosotros__center {
                width: 70%;
            }
            .content_nosotros__left {
                width: 40%; 
            }
            .content_nosotros__right {
                width: 40%; 
    
            }
            .div--nosotros{
                min-width: 150px;
                border-radius: 1rem;
                backdrop-filter: blur(15px);
                padding: 0.5rem;
                background-color: #ffffffd0;
                @include box-shadow;

                p{
                    font-size: 12px;
                }
                img{
                    display: block;
                    margin-top: 15px;
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            .content_nosotros-up--down{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin: 1rem 0 0 0;
                em{
                    display: none;
                }
            }
        }
    }
   
    .contenedor__sucursales{
        background-image: url(../Media/chile_bosque_vertical.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        justify-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        h2{
            font-size: 1rem;
            background-color: rgba(0, 0, 0, 0.241);
            padding: 0.5rem;
            border-radius: 2rem;
            backdrop-filter: blur(8px);
            animation: flotar 3s infinite ease-in-out;
        }
        div{
            padding: 0.7rem;
            border-radius: 2rem;
            backdrop-filter: blur(10px);
            background-color: rgba(0, 0, 0, 0.108);
            @include box-shadow;
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                max-width: 300px;
                border-radius: 2rem;
                margin: 0 auto;
                &:hover{
                    transform: scale(1.14);
                    transition: all 0.3s ;
                    @include box-shadow;
                }
            }
            p{
                font-size: 12px;

            }
        }
        .contenedor__sucursales-center{
            animation: flotar 3s infinite ease-in-out;
            img{
                max-height: 350px;
                margin: 0 auto;
            }
        }
        .contenedor__sucursales-right{
            grid-area: contenedor__sucursales-right;
        }
    }
}