@media screen and (min-width:350px){
    .card{
        width: 280px;
        height: 310px;
    }
}
@media screen and (min-width:450px){
    .text__mas-servicios{
        width: 50%;
        p{
            font-size: 1.6rem;
        }
    }
   
}
@media screen and (min-width:550px){
    .card{
        width: 350px;
    }
    .contendedor__contacto-up{
        .contenedor__contacto-up--text{
            width: 350px;
            font-size: 1rem;
            padding: 1rem;
            h3{
                font-size: 1.3rem;
            }
            h4{
                font-size:1.1rem;
            }
        }
        .contenedor__contacto--down{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    .contenedor__ubicacion{
        padding: 4rem;
    }
}
@media screen and (min-width:650px){
    body{
    .contenedor__acordeon__background__video{
        padding: 10rem 0 10rem 0;
    }
        .container__cotizar{
            padding: 5rem;
        }
        .contenedor__ubicacion{
            padding: 5rem;
            .contenedor__ubicacion__backdrop{
                .contenedor__direccion_index--texto{
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
  
    .contenedor__servicios-secundario{
        .contenedor-card-mas_servicios{
            .text__mas-servicios{
                p{
                    font-size: 2.5rem;
                }
            }
            .card{
                width: 320px;
                .card-title{
                    font-size: 18px
                }
                .card-des{
                    font-size: 12px;
                }
            }
        }
    }
    .contenedor_main__nosotros{
        .contenedor__nosotros--up{
            .video__background__nosotros{
                top:-20%;
            }
            .contenedor__nosotros{
                .div--nosotros{
                    max-width: 450px;
                    p{
                        font-size: 1rem;
                    }
                }
                .content_nosotros-up--down{
                    em{
                        display:block;
                    }
                }
            }
        }
        .contenedor__sucursales{
            padding: 5rem;
        }
    }
    .contendedor__contacto-up{
        .contenedor__contacto-up--text{
            width: 350px;
        }
    }
}
@media screen and (min-width:950px){
    .contenedor_main__nosotros{
        .contenedor__nosotros--up{
            .video__background__nosotros{
                top:-60%;
            }
        }
            
        .contenedor__sucursales{
            background-image: url(../Media/chile_bosque_horizontal.webp);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: #ffffff;
            justify-items: center;
            padding: 10rem 0 5rem 0;
            display: grid; 
            grid-auto-columns: 1fr; 
            grid-auto-rows: 1fr; 
            grid-template-columns: 0.2fr 1.5fr 1.5fr 1.4fr 0.2fr; 
            grid-template-rows: 0.2fr 0.2fr 0.2fr 1.8fr 0.2fr; 
            gap: 0px 20px; 
            grid-template-areas: 
            ". . . . ."
            ". . h2 . ."
            ". . . . ."
            ". contenedor__sucursales-left contenedor__sucursales-center contenedor__sucursales-right ."
            ". . . . ."; 
            h2{
                grid-area: h2;
                font-size: 2.2rem;
                background-color: rgba(0, 0, 0, 0.209);
                padding: 0.6rem;
                border-radius: 2rem;
                backdrop-filter: blur(50px);
            }
            div{
                padding: 0.7rem;
                border-radius: 2rem;
                backdrop-filter: blur(30px);
                background-color: rgba(0, 0, 0, 0.319);
                @include box-shadow;
                display: flex;
                flex-direction: column;
                p{
                    font-size: 1.3rem;
                }
                img{
                    max-width: 300px;
                    border-radius: 2rem;
                    margin: 0 auto;
                    &:hover{
                        transform: scale(1.14);
                        transition: all 0.3s ;
                        box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
                    }
                }
            }
            .contenedor__sucursales-left
            {
                grid-area: contenedor__sucursales-left; 
            }
            .contenedor__sucursales-center{
                grid-area: contenedor__sucursales-center; 
                img{
                    max-height: 350px;
                    margin: 0 auto;
                }
            }
            .contenedor__sucursales-right{
                grid-area: contenedor__sucursales-right;
            }
        }
    }
    .contenedor__servicios-secundario{
        .contenedor-card-mas_servicios{
            .text__mas-servicios{
                p{
                    font-size: 3rem;
                }
            }
            .card{
                width: 420px;
                height: 350px;
                .card-image-container{
                    width: 90%;
                    height: 60%;
                    margin: 0 auto;
                }
                .card-des{
                    font-size: 15px;
                }
            }
        }
    }
    .contendedor__contacto-up{
        .contenedor__contacto-up--text{
            width: 450px;
        }

    }
}
@media screen and (max-width:550px){
    body{
        .contenedor__acordeon__background__video{
            height: 950px;
            .contenedor__home__elegirnos{
                margin-top: 8rem;
                margin-bottom: 1rem;
            }
        }
        .container__cotizar{
            height: 950px;
            .row{
                .contenedor__cotizar__texto{
                    margin-top: 10rem;
                    margin-bottom: 4rem;
                }
            }
        }
        .contenedor__ubicacion{
            height: 950px;
            .contenedor__ubicacion__backdrop{
                margin-top: 11rem;
                .contenedor__direccion_index--texto{
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
